<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboards.css">
</head>
<body>
    <div class="main">
        <div class="welcome">
            <h1>Welcome</h1>
            <p>Here are your marks displayed</p>
            <h2>all the best students!!</h2>
            <p class="last">Everything is possible</p>
        </div>
        <div class="dash">
            <div class="student">
                <h1>Student</h1>
                <a href="/login">Login</a><br>
                <a class="lastchild" href="/signup">Signup</a>
            </div>
            <div class="admin">
                <h1>Admin</h1>
                <a href="/admin_login">Login</a>
                <br>
                <a href="/admin_register" class="lastchild">Register</a>
            </div>
        </div>
    </div>
</body>
</html>