<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/marksheet_style.css">
    <title>Login</title>
</head>
<body>
    <div class="main login-box ">
        <div class="container1">
            <h2>Marksheet Entry</h2>
            <h3>Student Details</h3>
            <form name="myform" method='POST' action="/student_details">
                <div class="user-box">
                    <input type="text"  id="sname" name="sname" required autocomplete="off">
                    <label>Name</label>
                </div>
                <div class="user-box">
                    <input type="text" id="srno" name="srno" required autocomplete="off">
                     <label>Roll-no</label>
                </div>
                <div class="button">
                    <button>Next</button>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>